$breakpoint-sm: 500px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-mlg: 1200px !default;
$breakpoint-xl: 2000px !default;

@mixin max-md() {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin mlg() {
  @media (min-width: $breakpoint-mlg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin mlg-lg() {
  @media only screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-mlg) {
    @content
  }
}

@mixin lg-md() {
  @media only screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    @content
  }
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}
@mixin bg-shadow {
  @include transition(all .2s ease-in-out);
  -webkit-box-shadow: 1px 1px 5px rgba(black,.2); // iOS <4.3 & Android <4.1
  box-shadow: 1px 1px 5px rgba(black,.2);
}